.profile {
  display: flex;
  padding: 34px 0 20px 0;
  border-bottom: 1px solid #a5a096;
}
.profile__avatar {
  border-radius: 8px;
  width: 190px;
  height: 190px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.profile__name {
  margin: 0 0 12px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  color: #212121;
}
.profile__description {
  margin: 0;
  max-width: 420px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
}
.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: none;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  opacity: 70%;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}
.profile__edit-btn::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/pencil.svg);
  margin-right: 8px;
}
.profile__edit-btn:hover {
  opacity: 1;
}
.profile__pencil {
  width: 18px;
  height: 16px;
  margin-right: 8px;
}
.profile__add-btn {
  margin-left: auto;
  border: none;
  padding: 18px 32px 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  line-height: 16px;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
}
.profile__add-btn::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/plus.svg);
  margin-right: 8px;
}
.profile__add-btn:hover {
  opacity: 80%;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin-top: 0;
  }
  .profile__avatar {
    width: 80px;
    height: 80px;
  }
  .profile__column {
    margin: 0;
  }
  .profile__name {
    margin: 12px 0 6px 0;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .profile__description {
    text-align: center;
  }
  .profile__edit-btn {
    justify-content: center;
    margin: 32px 0 20px 0;
  }
  .profile__add-btn {
    margin: 0;
    width: 288px;
    display: flex;
    justify-content: center;
  }
}
